:root {
    box-sizing: border-box;
    font-size: calc(1vw + 1em);
    height: 100vh;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-family: monospace;
    font-family: 'Patrick Hand', cursive;
    background-size: 400% 400%;
    background-image: repeating-linear-gradient(135deg, rgb(243, 73, 50) 0%, 
                                                        rgb(255, 151, 46) 25%,
                                                        rgb(203, 206, 41) 50%,
                                                        rgb(102, 211, 39) 75%,
                                                        rgb(46, 255, 235) 100%);
    animation: background-moving 12s ease-in infinite;
}

@keyframes background-moving {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}

h1 {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    margin-bottom: 0.3em;
}

h1 span {
    color: rgb(37, 26, 26);
    display: inline-block;
    animation: up-and-down 10s ease-in-out infinite;
    animation-delay: calc(0.2s * var(--i));
}

@keyframes up-and-down {
    0% {
        transform: translateY(0px);
    }

    5% {
        transform: translateY(-25px);
    }

    6%, 100% {
        transform: translateY(0px);
    }
}

.container__btns {
    display: flex;
    justify-content: center;

}

.btn {
    padding: 1em .7em;
    
}



/*Individuals button*/
.to-black,
.to-rainbow,
.clear,
.erasure {
    padding: 0.5em 1em;
    border: 2px solid black;
    cursor: pointer;
    position: relative;
}

.to-black:hover,
.to-rainbow:hover,
.clear:hover,
.erasure:hover,
input[type="color"]:hover {
    animation: shake 0.1s infinite alternate;
}

.to-black:hover::after,
.to-rainbow:hover::after {
    display: inline-block;
    content: "AHH YES!!! PICK ME";
    position: absolute;
    width: 80px;
    border-radius: 20px;
    background-color: white;
    top: -40px;
    right: -35px;
    font-size: 26px;
}

.erasure:hover::after {
    display: inline-block;
    content: "ME!!!! CLEAN CLEAN ";
    position: absolute;
    width: 80px;
    border-radius: 20px;
    background-color: white;
    top: -40px;
    right: -35px;
    font-size: 26px;
}

@keyframes shake {
    0% {
        transform: skewY(-2deg);
    }

    100% {
        transform: skewY(2deg);
    }
}

input[type="color"] {  
    height: 2.35em;
    width: 4em;
    position: relative;
    border: 2px solid black;
    cursor: pointer;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 30px 0 0;
}

input[type="color"]::after {
    position: absolute;
    content: "Pick ME";
    top: 0;
    left: 10%;
    right: 10%;
    text-align: center;
}


input[type="range"] {
    display: block;
    position: relative;
    margin: 0 auto;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    outline: none;
    border-radius: 20px;
    width: 75%;
    height:0.4em;
    box-shadow: 3px 3px 6px #909090;
    background-color: #1f1f1f;
    margin-top: 0.7em;
    
}

input[type="range"]::-webkit-slider-thumb {
    cursor: pointer;
    -webkit-appearance: none;
    height: 1em;
    width: 1em;
    background-color: #1f1f1f;
    border-radius: 50%;
    position:relative;
    border: 1px solid white;
}

.grid-number {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 78%;
}

.grid-number-display {
    margin-top: 0.4em;
    text-align: center;
}



main {
    margin-top: 1.5em;
    height: 23em;
}
.grid-container {
    margin: 0 auto;
    width: 534px;
    height:  525px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    border: 3px solid black;
    perspective: 500px;
    box-shadow: 10px 10px 1px black;
    perspective: 50px;
    animation: floating 3s infinite alternate ;
}

@keyframes floating {
    0% {
        transform: translateY(-10px) skewX(-1deg);

    }

    
    100% {
        transform: translateY(0px) skewY(1deg);
    }
}

.grid-child {
    background-color: white;

}

@media (min-width: 720px) {

    
    .main-container-large {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr 1fr;
        max-width: 1080px;
        margin: 0 auto;
        grid-gap: 1em;
    }

    .container__btns {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        
        
    }

    .btn {
        padding: 0;
    }

    .to-black,
    .to-rainbow,
    .clear,
    .erasure {
    border: none;
    cursor: pointer;
    position: relative;
    width: 100%;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid black;
    }
    
    .clear {
        border-bottom: 2px solid black;
    }

    .container__btns .btn:nth-child(3) {
        border: 2px solid black;  
        width: 100%;
        bottom: -60%;
        left: 32%;
        position: absolute;
        border: none;
        cursor: pointer;   
    }


    .container-slider {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    main {
        grid-column: 2 / 3;
        grid-row: 1 / 3;
    }
}



